Repository danieleschmidt/iot-edge-graph-anomaly, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/maintainers, @terragon-labs/ml-team, @terragon-labs/performance-team, @terragon-labs/security-team, @terragon-labs/legal-team, @terragon-labs/devops-team, @terragon-labs/sre-team, @terragon-labs/technical-writers, @terragon-labs/data-team, @terragon-labs/community-team, @terragon-labs/release-team

feat: advanced SDLC optimization for high-maturity repository
  benchmarks.py
  docs/ADVANCED_OPTIMIZATION_GUIDE.md
  pyproject-extra.toml
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat: implement Terragon Autonomous SDLC with perpetual value discovery
  .gitignore
  .terragon/autonomous_executor.py
  .terragon/config.yaml
  .terragon/discover_value.py
  .terragon/perpetual_runner.sh
  .terragon/value_discovery.py
  BACKLOG.md
  docs/AUTONOMOUS_EXECUTION_SUMMARY.md
  docs/TERRAGON_AUTONOMOUS_SDLC_COMPLETE.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/000-template.md
  docs/adr/001-lstm-gnn-hybrid-architecture.md
  docs/guides/README.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat: setup development environment and code quality tools
  .editorconfig
  .gitignore
  .vscode/settings.json
Owners: @terragon-labs/maintainers, @terragon-labs/devops-team

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/e2e/__init__.py
  tests/e2e/test_example_e2e.py
  tests/fixtures/__init__.py
  tests/fixtures/test_data.py
  tests/integration/__init__.py
  tests/integration/test_example_integration.py
  tests/mocks/__init__.py
  tests/mocks/mock_services.py
  tests/unit/__init__.py
  tests/unit/test_example.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

build: add containerization and build automation
  .dockerignore
  .releaserc.json
  Dockerfile.multi
  docs/deployment/BUILD.md
  scripts/entrypoint.sh
  scripts/healthcheck.sh
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

docs: establish project foundation and community files
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/0001-lstm-autoencoder-architecture.md
  docs/adr/0002-container-deployment-strategy.md
  docs/adr/README.md
  docs/adr/template.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat: enhance development environment with npm-style scripts
  package.json
Owners: @terragon-labs/maintainers

test: establish comprehensive testing infrastructure
  docs/testing/README.md
  tests/e2e/__init__.py
  tests/e2e/test_example_e2e.py
  tests/fixtures/__init__.py
  tests/fixtures/test_data.py
  tests/integration/__init__.py
  tests/integration/test_example_integration.py
  tests/unit/__init__.py
  tests/unit/test_example_unit.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

build: add containerization and build automation
  scripts/build-multiarch.sh
  scripts/validate-build.sh
Owners: @terragon-labs/maintainers

ops: add monitoring and observability configuration
  docs/monitoring/README.md
  monitoring/alert_rules.yml
  monitoring/grafana/dashboards/dashboard-config.yml
  monitoring/grafana/datasources/prometheus.yml
  monitoring/runbooks/README.md
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/devops-team, @terragon-labs/sre-team

docs: add CI/CD and security workflow documentation and templates
  docs/workflows/README.md
  docs/workflows/examples/ci.yml
  docs/workflows/examples/release.yml
  docs/workflows/examples/security.yml
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat(iot_edge_anomaly): add robust async processing, circuit breaker, validation, and optimization
  =0.21.0
  =1.24.0
  =1.3.0
  =2.0.0
  =2.3.0
  =3.11.0
  =4.1.0
  =7.4.0
  AUTONOMOUS_IMPLEMENTATION_COMPLETE.md
  src/iot_edge_anomaly/async_processor.py
  src/iot_edge_anomaly/circuit_breaker.py
  src/iot_edge_anomaly/config_validator.py
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/models/lstm_autoencoder.py
  src/iot_edge_anomaly/performance_optimizer.py
  src/iot_edge_anomaly/validation_utils.py
Owners: @terragon-labs/maintainers, @terragon-labs/ml-team

feat(iot_edge_anomaly): add robust async processing, circuit breaker, validation, and optimization (#14)
  =0.21.0
  =1.24.0
  =1.3.0
  =2.0.0
  =2.3.0
  =3.11.0
  =4.1.0
  =7.4.0
  AUTONOMOUS_IMPLEMENTATION_COMPLETE.md
  src/iot_edge_anomaly/async_processor.py
  src/iot_edge_anomaly/circuit_breaker.py
  src/iot_edge_anomaly/config_validator.py
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/models/lstm_autoencoder.py
  src/iot_edge_anomaly/performance_optimizer.py
  src/iot_edge_anomaly/validation_utils.py
Owners: @terragon-labs/maintainers, @terragon-labs/ml-team

chore(venv): add new Python virtual environment setup files
  quality_check_env/bin/python
  quality_check_env/bin/python3
  quality_check_env/bin/python3.12
  quality_check_env/lib64
  quality_check_env/pyvenv.cfg
Owners: @terragon-labs/maintainers

chore(venv): add new Python virtual environment setup files (#15)
  quality_check_env/bin/python
  quality_check_env/bin/python3
  quality_check_env/bin/python3.12
  quality_check_env/lib64
  quality_check_env/pyvenv.cfg
Owners: @terragon-labs/maintainers

feat(sentiment-analyzer): initial commit of Sentiment Analyzer Pro with full features
  README.md
  deploy/kubernetes/deployment.yaml
  docker/Dockerfile
  docker/docker-compose.yml
  requirements-prod.txt
  src/sentiment_analyzer/__init__.py
  src/sentiment_analyzer/api/__init__.py
  src/sentiment_analyzer/api/server.py
  src/sentiment_analyzer/cli/__init__.py
  src/sentiment_analyzer/cli/main.py
  src/sentiment_analyzer/compliance/__init__.py
  src/sentiment_analyzer/compliance/privacy.py
  src/sentiment_analyzer/core/__init__.py
  src/sentiment_analyzer/core/analyzer.py
  src/sentiment_analyzer/core/models.py
  src/sentiment_analyzer/i18n/__init__.py
  src/sentiment_analyzer/i18n/translations.py
  src/sentiment_analyzer/monitoring/__init__.py
  src/sentiment_analyzer/monitoring/metrics.py
  src/sentiment_analyzer/performance/__init__.py
  src/sentiment_analyzer/performance/async_processor.py
  src/sentiment_analyzer/performance/cache.py
  src/sentiment_analyzer/security/__init__.py
  src/sentiment_analyzer/security/validation.py
  src/sentiment_analyzer/utils/__init__.py
  src/sentiment_analyzer/utils/config.py
  tests/test_api.py
  tests/test_performance.py
  tests/test_security.py
  tests/test_sentiment_analyzer.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

feat(sentiment): add comprehensive sentiment analysis research framework
  README.md
  docs/SENTIMENT_ANALYSIS_RESEARCH_FRAMEWORK.md
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/sentiment/__init__.py
  src/iot_edge_anomaly/sentiment/data_processing.py
  src/iot_edge_anomaly/sentiment/evaluation.py
  src/iot_edge_anomaly/sentiment/main.py
  src/iot_edge_anomaly/sentiment/models.py
  src/iot_edge_anomaly/sentiment/training.py
  tests/test_sentiment_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

feat(sentiment): add comprehensive sentiment analysis research framework (#17)
  README.md
  docs/SENTIMENT_ANALYSIS_RESEARCH_FRAMEWORK.md
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/sentiment/__init__.py
  src/iot_edge_anomaly/sentiment/data_processing.py
  src/iot_edge_anomaly/sentiment/evaluation.py
  src/iot_edge_anomaly/sentiment/main.py
  src/iot_edge_anomaly/sentiment/models.py
  src/iot_edge_anomaly/sentiment/training.py
  tests/test_sentiment_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

Revert "feat(sentiment): add comprehensive sentiment analysis research framew…"
  README.md
  docs/SENTIMENT_ANALYSIS_RESEARCH_FRAMEWORK.md
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/sentiment/__init__.py
  src/iot_edge_anomaly/sentiment/data_processing.py
  src/iot_edge_anomaly/sentiment/evaluation.py
  src/iot_edge_anomaly/sentiment/main.py
  src/iot_edge_anomaly/sentiment/models.py
  src/iot_edge_anomaly/sentiment/training.py
  tests/test_sentiment_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

Revert "feat(sentiment): add comprehensive sentiment analysis research framew…" (#18)
  README.md
  docs/SENTIMENT_ANALYSIS_RESEARCH_FRAMEWORK.md
  src/iot_edge_anomaly/main.py
  src/iot_edge_anomaly/sentiment/__init__.py
  src/iot_edge_anomaly/sentiment/data_processing.py
  src/iot_edge_anomaly/sentiment/evaluation.py
  src/iot_edge_anomaly/sentiment/main.py
  src/iot_edge_anomaly/sentiment/models.py
  src/iot_edge_anomaly/sentiment/training.py
  tests/test_sentiment_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

feat(autonomous-sdlc): complete implementation of Terragon Autonomous SDLC v4.0
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE.md
  deployment/config/production.yaml
  deployment/docker/Dockerfile.production
  deployment/k8s/iot-anomaly-detection.yaml
  deployment/terraform/main.tf
  examples/hybrid_anomaly_detection_demo.py
  quality_gates.py
  quality_gates_report.json
  research/comparative_analysis.py
  run_tests.py
  src/iot_edge_anomaly/optimization/performance_optimizer.py
  src/iot_edge_anomaly/resilience/fault_tolerance.py
  src/iot_edge_anomaly/security/secure_inference.py
  src/iot_edge_anomaly/validation/model_validator.py
  tests/test_comprehensive_framework.py
Owners: @terragon-labs/maintainers

feat(autonomous-sdlc): complete implementation of Terragon Autonomous SDLC v4.0 (#19)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE.md
  deployment/config/production.yaml
  deployment/docker/Dockerfile.production
  deployment/k8s/iot-anomaly-detection.yaml
  deployment/terraform/main.tf
  examples/hybrid_anomaly_detection_demo.py
  quality_gates.py
  quality_gates_report.json
  research/comparative_analysis.py
  run_tests.py
  src/iot_edge_anomaly/optimization/performance_optimizer.py
  src/iot_edge_anomaly/resilience/fault_tolerance.py
  src/iot_edge_anomaly/security/secure_inference.py
  src/iot_edge_anomaly/validation/model_validator.py
  tests/test_comprehensive_framework.py
Owners: @terragon-labs/maintainers

feat(models): add advanced AI models and federated learning for IoT anomaly detection
  README.md
  TERRAGON_AUTONOMOUS_SDLC_V4_COMPLETE.md
  quality_gates_report.json
  src/iot_edge_anomaly/models/advanced_hybrid_integration.py
  src/iot_edge_anomaly/models/federated_learning.py
  src/iot_edge_anomaly/models/physics_informed_hybrid.py
  src/iot_edge_anomaly/models/self_supervised_registration.py
  src/iot_edge_anomaly/models/sparse_graph_attention.py
  src/iot_edge_anomaly/models/transformer_vae.py
  tests/test_advanced_integration.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

feat(models): add advanced AI models and federated learning for IoT anomaly detection (#20)
  README.md
  TERRAGON_AUTONOMOUS_SDLC_V4_COMPLETE.md
  quality_gates_report.json
  src/iot_edge_anomaly/models/advanced_hybrid_integration.py
  src/iot_edge_anomaly/models/federated_learning.py
  src/iot_edge_anomaly/models/physics_informed_hybrid.py
  src/iot_edge_anomaly/models/self_supervised_registration.py
  src/iot_edge_anomaly/models/sparse_graph_attention.py
  src/iot_edge_anomaly/models/transformer_vae.py
  tests/test_advanced_integration.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers, @terragon-labs/ml-team

feat(iot_edge_anomaly): add advanced AI ensemble and autonomous SDLC system
  TERRAGON_AUTONOMOUS_SDLC_REPORT.md
  config/README.md
  config/advanced_ensemble.yaml
  config/default.yaml
  config/production.yaml
  deploy/docker-compose.prod.yml
  deploy/kubernetes/deployment.yaml
  docker/Dockerfile
  docker/entrypoint.sh
  run_comprehensive_tests.py
  src/iot_edge_anomaly/advanced_main.py
  src/iot_edge_anomaly/models/simple_ensemble.py
  src/iot_edge_anomaly/monitoring/advanced_metrics.py
  src/iot_edge_anomaly/security/__init__.py
  src/iot_edge_anomaly/validation/__init__.py
  test_results.json
Owners: @terragon-labs/maintainers, @terragon-labs/ml-team, @terragon-labs/sre-team, @terragon-labs/devops-team

feat(iot_edge_anomaly): add advanced AI ensemble and autonomous SDLC system (#21)
  TERRAGON_AUTONOMOUS_SDLC_REPORT.md
  config/README.md
  config/advanced_ensemble.yaml
  config/default.yaml
  config/production.yaml
  deploy/docker-compose.prod.yml
  deploy/kubernetes/deployment.yaml
  docker/Dockerfile
  docker/entrypoint.sh
  run_comprehensive_tests.py
  src/iot_edge_anomaly/advanced_main.py
  src/iot_edge_anomaly/models/simple_ensemble.py
  src/iot_edge_anomaly/monitoring/advanced_metrics.py
  src/iot_edge_anomaly/security/__init__.py
  src/iot_edge_anomaly/validation/__init__.py
  test_results.json
Owners: @terragon-labs/maintainers, @terragon-labs/ml-team, @terragon-labs/sre-team, @terragon-labs/devops-team

feat(models): add five new advanced IoT anomaly detection models
  src/iot_edge_anomaly/models/causal_discovery_network.py
  src/iot_edge_anomaly/models/continual_learning_network.py
  src/iot_edge_anomaly/models/multimodal_fusion_network.py
  src/iot_edge_anomaly/models/neuromorphic_spiking.py
  src/iot_edge_anomaly/models/quantum_classical_hybrid.py
Owners: @terragon-labs/ml-team, @terragon-labs/maintainers

feat(models): add five new advanced IoT anomaly detection models (#22)
  src/iot_edge_anomaly/models/causal_discovery_network.py
  src/iot_edge_anomaly/models/continual_learning_network.py
  src/iot_edge_anomaly/models/multimodal_fusion_network.py
  src/iot_edge_anomaly/models/neuromorphic_spiking.py
  src/iot_edge_anomaly/models/quantum_classical_hybrid.py
Owners: @terragon-labs/ml-team, @terragon-labs/maintainers

feat(k8s): add comprehensive Kubernetes manifests for v4.0 deployment
  =2.2.0
  k8s/README.md
  k8s/autoscaling.yaml
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/kustomization.yaml
  k8s/monitoring.yaml
  k8s/namespace.yaml
  k8s/network-policy.yaml
  k8s/rbac.yaml
  k8s/service.yaml
  k8s/storage.yaml
  quality_gates_comprehensive.py
  quality_gates_comprehensive_report.json
  scripts/build-multiarch.sh
  src/iot_edge_anomaly/compliance/gdpr_framework.py
  src/iot_edge_anomaly/i18n/internationalization.py
  src/iot_edge_anomaly/optimization/advanced_performance_optimization.py
  src/iot_edge_anomaly/resilience/advanced_fault_tolerance.py
  src/iot_edge_anomaly/scaling/auto_scaling_system.py
  src/iot_edge_anomaly/security/advanced_security.py
  tests/test_advanced_integration.py
Owners: @terragon-labs/maintainers

feat(k8s): add comprehensive Kubernetes manifests for v4.0 deployment (#23)
  =2.2.0
  k8s/README.md
  k8s/autoscaling.yaml
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/ingress.yaml
  k8s/kustomization.yaml
  k8s/monitoring.yaml
  k8s/namespace.yaml
  k8s/network-policy.yaml
  k8s/rbac.yaml
  k8s/service.yaml
  k8s/storage.yaml
  quality_gates_comprehensive.py
  quality_gates_comprehensive_report.json
  scripts/build-multiarch.sh
  src/iot_edge_anomaly/compliance/gdpr_framework.py
  src/iot_edge_anomaly/i18n/internationalization.py
  src/iot_edge_anomaly/optimization/advanced_performance_optimization.py
  src/iot_edge_anomaly/resilience/advanced_fault_tolerance.py
  src/iot_edge_anomaly/scaling/auto_scaling_system.py
  src/iot_edge_anomaly/security/advanced_security.py
  tests/test_advanced_integration.py
Owners: @terragon-labs/maintainers

feat(autonomous-sdlc): complete Terragon Autonomous SDLC v4.0 implementation with 5 breakthrough AI algorithms
  Dockerfile
  docker-compose.yml
  examples/comprehensive_demo.py
  research/advanced_benchmarking_suite.py
  src/iot_edge_anomaly/federated_server.py
  src/iot_edge_anomaly/resilience/advanced_fault_tolerance.py
  src/iot_edge_anomaly/scaling/intelligent_caching.py
  src/iot_edge_anomaly/validation/comprehensive_validator.py
  tests/test_advanced_integration.py
  tests/unit/test_example_unit.py
Owners: @terragon-labs/devops-team, @terragon-labs/maintainers

docs: establish enhanced project foundation and community infrastructure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/ARCHITECTURE.md
Owners: @terragon-labs/maintainers, @terragon-labs/community-team, @terragon-labs/technical-writers

feat: establish comprehensive development environment and tooling
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .pre-commit-config.yaml
  .secrets.baseline
  docker-compose.dev.yml
Owners: @terragon-labs/maintainers, @terragon-labs/devops-team

test: establish comprehensive testing infrastructure with advanced security
  docs/testing/README.md
  pytest.ini
  tests/conftest.py
  tests/security/test_comprehensive_security.py
  tests/unit/test_advanced_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/technical-writers

Enhance Dev Environment, Add Security & Advanced Model Tests, Update Docs (#26)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .pre-commit-config.yaml
  .secrets.baseline
  docker-compose.dev.yml
  docs/ARCHITECTURE.md
  docs/testing/README.md
  pytest.ini
  tests/conftest.py
  tests/security/test_comprehensive_security.py
  tests/unit/test_advanced_models.py
Owners: @terragon-labs/maintainers, @terragon-labs/community-team, @terragon-labs/devops-team, @terragon-labs/technical-writers

feat(autonomous-sdlc): add complete Terragon Autonomous SDLC v4.0 implementation
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE_V4.md
  generation2_test_results_20250820_010519.json
  production_deployment_suite.py
  quick_start_demo.py
  src/iot_edge_anomaly/advanced_monitoring.py
  src/iot_edge_anomaly/autoscaling_system.py
  src/iot_edge_anomaly/concurrent_processor.py
  src/iot_edge_anomaly/performance_engine.py
  src/iot_edge_anomaly/robust_error_handling.py
  src/iot_edge_anomaly/security_framework.py
  test_generation2_comprehensive.py
  unified_api.py
Owners: @terragon-labs/maintainers

feat(optimization): add advanced optimization and robustness modules for IoT anomaly detection
  src/iot_edge_anomaly/models/advanced_hybrid_integration.py
  src/iot_edge_anomaly/models/federated_learning.py
  src/iot_edge_anomaly/optimization/__init__.py
  src/iot_edge_anomaly/optimization/performance_profiler.py
  src/iot_edge_anomaly/optimized_main.py
  src/iot_edge_anomaly/robust_main.py
  src/iot_edge_anomaly/robustness/__init__.py
  src/iot_edge_anomaly/robustness/circuit_breaker.py
  src/iot_edge_anomaly/robustness/data_validator.py
  src/iot_edge_anomaly/robustness/health_monitor.py
  tests/test_advanced_integration.py
  tests/test_optimization_integration.py
  tests/test_robustness_integration.py
Owners: @terragon-labs/ml-team, @terragon-labs/maintainers

feat(optimization): add advanced optimization and robustness modules for IoT anomaly detection (#28)
  src/iot_edge_anomaly/models/advanced_hybrid_integration.py
  src/iot_edge_anomaly/models/federated_learning.py
  src/iot_edge_anomaly/optimization/__init__.py
  src/iot_edge_anomaly/optimization/performance_profiler.py
  src/iot_edge_anomaly/optimized_main.py
  src/iot_edge_anomaly/robust_main.py
  src/iot_edge_anomaly/robustness/__init__.py
  src/iot_edge_anomaly/robustness/circuit_breaker.py
  src/iot_edge_anomaly/robustness/data_validator.py
  src/iot_edge_anomaly/robustness/health_monitor.py
  tests/test_advanced_integration.py
  tests/test_optimization_integration.py
  tests/test_robustness_integration.py
Owners: @terragon-labs/ml-team, @terragon-labs/maintainers

feat(autonomous-sdlc): add complete Terragon Autonomous SDLC v4.0 implementation (#27)
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE_V4.md
  generation2_test_results_20250820_010519.json
  production_deployment_suite.py
  quick_start_demo.py
  src/iot_edge_anomaly/advanced_monitoring.py
  src/iot_edge_anomaly/autoscaling_system.py
  src/iot_edge_anomaly/concurrent_processor.py
  src/iot_edge_anomaly/performance_engine.py
  src/iot_edge_anomaly/robust_error_handling.py
  src/iot_edge_anomaly/security_framework.py
  test_generation2_comprehensive.py
  unified_api.py
Owners: @terragon-labs/maintainers

.github/CODEOWNERS:

# Code ownership for IoT Edge Graph Anomaly Detection
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global ownership - all files require review from maintainers
* @terragon-labs/maintainers

# Core ML model files require ML team review
/src/iot_edge_anomaly/models/ @terragon-labs/ml-team @terragon-labs/maintainers
/tests/test_*model*.py @terragon-labs/ml-team
/tests/test_*lstm*.py @terragon-labs/ml-team
/tests/test_*gnn*.py @terragon-labs/ml-team

# Performance and benchmarking require performance team
/tests/performance/ @terragon-labs/performance-team @terragon-labs/maintainers
/docs/PERFORMANCE_BENCHMARKS.md @terragon-labs/performance-team

# Security-related files require security team review
/docs/SECURITY.md @terragon-labs/security-team @terragon-labs/maintainers
/docs/COMPLIANCE_FRAMEWORK.md @terragon-labs/security-team @terragon-labs/legal-team
/.github/dependabot.yml @terragon-labs/security-team @terragon-labs/devops-team
/renovate.json @terragon-labs/security-team @terragon-labs/devops-team
/.trivy.yaml @terragon-labs/security-team @terragon-labs/devops-team
/.hadolint.yaml @terragon-labs/security-team @terragon-labs/devops-team
/.github/security.md @terragon-labs/security-team @terragon-labs/maintainers
/scripts/compliance_check.py @terragon-labs/security-team @terragon-labs/maintainers

# Infrastructure and deployment files
/Dockerfile @terragon-labs/devops-team @terragon-labs/maintainers
/docker-compose.yml @terragon-labs/devops-team
/.github/workflows/ @terragon-labs/devops-team @terragon-labs/maintainers
/monitoring/ @terragon-labs/devops-team @terragon-labs/sre-team

# Documentation files
/docs/ @terragon-labs/maintainers @terragon-labs/technical-writers
/README.md @terragon-labs/maintainers @terragon-labs/technical-writers
/CHANGELOG.md @terragon-labs/maintainers

# Configuration files
/pyproject.toml @terragon-labs/maintainers @terragon-labs/devops-team
/requirements.txt @terragon-labs/maintainers
/.pre-commit-config.yaml @terragon-labs/maintainers @terragon-labs/devops-team
/Makefile @terragon-labs/maintainers @terragon-labs/devops-team
/sonar-project.properties @terragon-labs/devops-team @terragon-labs/maintainers
/.vscode/ @terragon-labs/maintainers @terragon-labs/devops-team

# Data processing and loading
/src/iot_edge_anomaly/data/ @terragon-labs/data-team @terragon-labs/ml-team
/tests/test_*data*.py @terragon-labs/data-team
/tests/test_*swat*.py @terragon-labs/data-team

# Monitoring and observability
/src/iot_edge_anomaly/monitoring/ @terragon-labs/sre-team @terragon-labs/devops-team
/src/iot_edge_anomaly/health.py @terragon-labs/sre-team
/tests/test_*monitoring*.py @terragon-labs/sre-team
/tests/test_*metrics*.py @terragon-labs/sre-team

# Legal and compliance
/LICENSE @terragon-labs/legal-team @terragon-labs/maintainers
/CODE_OF_CONDUCT.md @terragon-labs/legal-team @terragon-labs/maintainers
/CONTRIBUTING.md @terragon-labs/maintainers @terragon-labs/community-team

# Release and versioning
/.bumpversion.cfg @terragon-labs/maintainers @terragon-labs/release-team
/scripts/release.sh @terragon-labs/maintainers @terragon-labs/release-team

# GitHub templates and automation
/.github/ISSUE_TEMPLATE/ @terragon-labs/maintainers @terragon-labs/community-team
/.github/PULL_REQUEST_TEMPLATE.md @terragon-labs/maintainers @terragon-labs/community-team
/.github/release-template.md @terragon-labs/maintainers @terragon-labs/release-team
